<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 mx-auto">
      <h2 class="d-flex justify-content-center my-2">Signup</h2>
      <form action="/signup" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Profile picture</label>
          <input type="file" class="form-control" name="image">
        </div>  
        <div class="control-group">
        <!-- Button -->
          <div class="controls">
            <button class="btn btn-success" type="submit">Signup</button>
          </div>
        </div>
      </form>

      {{#if errorMessage}}
      <p>{{errorMessage}}</p>
      {{/if}}

    </div>
  </div>
</div>

