<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
   <link rel="stylesheet" href="stylesheets/style.css" />
   
   </head>

   <body>
      <nav class="navbar navbar-expand-lg ">
        
        <a class="navbar-brand" href="/">
        
            {{!-- <img src="/images/fork&Knife-white-icon.png" width="30" height="30" class="d-inline-block " alt=""> --}}
            OUR RECIPES
        </a>
        <button class="navbar-toggler navbar-light bg-light " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Recipe . . ."
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-4" type="submit">Search</button>
                </form>
                <li class="nav-item active mr-4" >
                    <a class="nav-link" href="#">All Recipes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recipes Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fas fa-ice-cream mr-2"></i>Deserts</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fish mr-2"></i>Fish</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-drumstick-bite mr-2"></i>Meat</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-leaf mr-2"></i>Vegetarian</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
               {{#if loggedInUser}}
                  <li class="nav-item">
                    <a class="nav-link mr-4" href="/user-area">{{loggedInUser}}</a>
                  </li>
               {{else}}
                <li class="nav-item">
                    <a class="nav-link mr-4" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
                {{/if}}
                {{#if loggedInUser}}
                <li class="nav-item">
                     <form action="/logout" method="POST">
                        <button class="nav-link logout-btn" type="submit">Logout</button>
                     </form>
                </li>
                {{/if}}
            </ul>

        </div>
    </nav>


      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>