/* Navbar */

.navbar{
  background-color: green;
}

.navbar a{
  color: white;
}

.navbar-nav > li > .dropdown-menu {
  background-color: green 
}

.navbar-nav > li > a:focus, a:hover {
  color: black !important; 
}

.logout-btn{
  all: unset;
  color: white;
}

.logout-btn:hover {
  color: black;
}

.search-btn{
  color: white !important;
}

.search-btn:hover {
  color: black !important;
  background-color: white;
}

.teste{
  background-color: gray;
}