body{
  background-color: #f8f9f9;
}

/* Navbar */

.navbar{
  background-color: green;
}

.navbar a{
  color: white;
}

.navbar-nav > li > .dropdown-menu {
  background-color: green 
}

.navbar-nav > li > a:focus, a:hover {
  color: black !important; 
}

.logout-btn{
  all: unset;
  color: white;
}

.logout-btn:hover {
  color: black;
}

.search-btn{
  color: white !important;
}

.search-btn:hover {
  color: black !important;
  background-color: white;
}

.teste{
  background-color: gray;
}

.qnt-unit{
  display: inline-block;
}

/* Main page (All recipes) */

.main-page-row-one{
  /* height: 11rem; */
  justify-content: center;
}

.card-specs{
  display: flex;
  justify-content: space-between;
}

.card-user{
  display: flex;
  
}
.view-recipe-btn a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.view-recipe-btn-container{
  display: flex;
  justify-content: center;
}

.view-recipe-btn{
  width: 10rem;
  background-color: green;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  text-align: center;
  color: white;
  font-weight: bold;
}

.card-personal-header{
  display: flex;
  align-items: center;
}
.card-recipe > img{
  height: 15rem;
  width: 100%;
}


.card-recipe {
  margin-bottom: 2rem;
  width: 23rem;
  background-color: white; /* #799497 */
  border-radius: 0.5rem; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-recipe:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Recipe page */

.recipe-page-row-one{
  justify-content: space-evenly;
}

.recipe-page-row-two{
  justify-content: space-evenly;
}

.recipepage-img-container img{
  width: 100%;
  height: 25rem;
}

.recipe-page-specs{
  justify-content: space-between;
}

.col-recipe-page{
  background-color: white; /* #799497 */
  border-radius: 0.5rem; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.col-recipe-page:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.create-recipe-btn{
}

.fav-btn{
  all: unset;
}

.fav-btn:hover i{
color: red;
}

.rating-btn{
  all: unset;
}

.rating-btn:hover i{
color: yellow;
}

.col-specs-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* New recipe */

.new-recipe-card{
  background-color: white;
  border-radius: 0.5rem; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.delete-elements-btn{
  all: unset;
  color: red; 
  text-decoration: underline red;
}

.footer-div {
  background-color: green;

}