/* Navbar */

.navbar{
  background-color: green;
}

.navbar a{
  color: white;
}

.navbar-nav > li > .dropdown-menu {
  background-color: green 
}

.navbar-nav > li > a:focus, a:hover {
  color: black !important; 
}

.logout-btn{
  all: unset;
  color: white;
}

.logout-btn:hover {
  color: black;
}

.search-btn{
  color: white !important;
}

.search-btn:hover {
  color: black !important;
  background-color: white;
}

.teste{
  background-color: gray;
}

.qnt-unit{
  display: inline-block;
}

/* Main page (All recipes) */

.card-specs{
  display: flex;
  justify-content: space-between;
}

.card-user{
  display: flex;
  
}
.view-recipe-btn a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.view-recipe-btn{
  background-color: green;
  padding: 0.1rem;
  border-radius: 0rem;
  border: 1px solid white;
  text-align: center;
  color: white;
  font-weight: bold;
  text-align: center;
}

.card-personal-header{
  display: flex;
  align-items: center;
}
