    <div class="container-fluid">
        <div class="row">
            <h1 class="d-flex justify-content-center my-4">Welcome {{logged.username}}!</h1>
            <h3 class="d-flex justify-content-center mb-4 profile-new-recipe-link"><a href="/new-recipe">+ Create Recipe</a></h3>

            <div class="col-md-4 mb-3">
                <div class="card card-user-area">
                    <h3 class="card-title text-center mt-2">Favortites</h3>
                    <div class="img-size">
                        <img height="245px" src="/images/bookmark-favorites-black.png" alt="Favorites bookmark">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-btns">
                            <div class="btn btn-success">
                                <a style="color: azure; " href="/user-favorite-list">Favorite List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card card-user-area">
                    <h3 class="card-title text-center mt-2">My Profile</h3>
                    <div>
                        <img class="img-size" src="{{logged.imageUrl}}" alt="user profile image" />
                    </div>
                    <div class="card-body text-center">
                        <div class="card-btns">
                            <div class="btn btn-success">
                                <a style="color: azure; " href="/user-profile/{{logged._id}}">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card card-user-area">
                    <h3 class="card-title text-center mt-2">My Own Recipes</h3>
                    <div class="img-size">
                        <img height="245px" src="/images/add-new-recipe-icon-black.png" alt="Add new recipe image">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-btns">
                            <div class="btn btn-success btn-position">
                                <a style="color: azure; " href="/user-recipes-list">View/Update/Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
