<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h1 class="d-flex justify-content-center my-4">My Profile</h1>

      <form action="/user-profile/{{loggedUser._id}}/update" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="profileImageUpdate" class="form-label">Profile picture</label>
         {{!-- How can we render an image from cloudinary?? --}}
        <input type="file" class="form-control" id="profileImageUpdate" placeholder="" name="image">
        <label for="profileImageUpdate" class="form-label">(Please update a new picture!)</label>
      </div>

      <div class="mb-3">
        <label for="usernameUpdate" class="form-label">Username</label>
        <input type="text" class="form-control" id="usernameUpdate" placeholder="" name="username" value="{{loggedUser.username}}" required>
        
      </div>
      <div class="mb-3">
        <label for="emailUpdate" class="form-label">Email</label>
        <input type="email" class="form-control" id="emailUpdate" placeholder="" name="email" value="{{loggedUser.email}}" required>
        
      </div>
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
        <button class="btn btn-success" type="submit">Confirm Changes</button>
      </div>
      </form>
    </div>
      {{#if errorMessage}}
      <p>{{errorMessage}}</p>
      {{/if}}
  </div>
</div>