<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2 class="d-flex justify-content-center my-2">{{loggedInUser}} Profile</h2>
      <form action="/signup" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Profile picture</label>
         {{!-- How can we render an image from cloudinary?? --}}
        <input type="file" class="form-control" id="formGroupExampleInput2" placeholder="" name="image">
        <button class="btn btn-secondary" type="submit">Change Photo</button>
      </div>  
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="username" required>
        <button class="btn btn-secondary" type="submit">Change Name</button>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Email</label>
        <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="" name="email" required>
        <button class="btn btn-secondary" type="submit">Change Email</button>
      </div>
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
        <button class="btn btn-success" type="submit">Confirm Changes</button>
      </div>
      </form>
    </div>
      {{#if errorMessage}}
      <p>{{errorMessage}}</p>
      {{/if}}
  </div>
</div>