<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 new-recipe-card mx-auto my-3">
      <h2 class="d-flex justify-content-center my-2">Preparation</h2>

      <form action="/preparation/{{id}}/update" method="POST">

        <div class="mb-3">
          <label for="" class="form-label">Preparation Steps</label>
          <input type="text" class="form-control" name="step" required/>
        </div>

        <div class="control-group">
          <!-- Button -->
            <button class="btn btn-success" type="submit">Add Step</button>
        </div>
      </form>

      <h4 class="my-2">List:</h4>

      {{#if preparation}}
      <ol>
        {{#each preparation}}
        <li >
          <div class="d-flex">
            {{step}} 
            {{!-- delete step --}}
            <form action="/preparation/{{id}}/recipe/{{../id}}/delete" method="POST"> 
              <button class="ms-2 delete-elements-btn" type="submit">Delete</button>
            </form>
          </div>

        </li>
        {{/each}}
      </ol>
      {{/if}}

    <div class="d-flex justify-content-center mb-2">
      
        <a class="btn btn-success" href="/user-recipes-list">Add Recipe</a>
      
    </div>

    </div>
  </div>
</div>