<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 mx-auto">
      <h2 class="d-flex justify-content-center my-2">Preparation</h2>

      <form action="/preparation/{{id}}/update" method="POST">
        <div class="mb-3">
          <label for="" class="form-label">Steps</label>
          <textarea rows="4" cols="50" class="form-control" name="preparation" required/></textarea>
        </div>

        <div class="control-group">
          <!-- Button -->
            <button class="btn btn-success" type="submit">Add Recipe</button>
        </div>
      </form>

    </div>
  </div>
</div>